*, *:before, *:after{
	color: pink;
	box-sizing: border-box;
}
div {
	border: 1px solid red;
}
.main{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-image: url("images/mustaine.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(60px);
	z-index: -1;
}
.outer{

	position: absolute;
	height: 100%;
	border-color: yellow;

	display: flex;

	align-items: center;

	justify-content: center;
}
.quiz{
	background-color: yellow;
	max-width: 75%
}